/* Add-on: Custom media covers for the ElegantFin Theme for Jellyfin by lscambo13 */

:root{
    /* my media library default covers customizations */
    --colorOverlayMoviesCover: rgb(193, 103, 104);
    --colorOverlayTvshowsCover: rgb(140, 149, 43);
    --colorOverlayLivetvCover: rgb(17, 98, 159);
    --colorOverlayPlaylistsCover: rgb(118, 61, 216);
    --colorOverlayBoxsetsCover: rgb(219, 180, 53);
    --colorOverlayMusicCover: rgb(11, 93, 72);
    --colorOverlayHomevideosCover: rgb(39, 90, 185);
    --colorOverlayBooksCover: rgb(166, 68, 70);
    --colorOverlayFoldersCover: rgb(173, 60, 113);
    --urlMoviesCover: url(https://raw.githubusercontent.com/lscambo13/ElegantFin/refs/heads/main/Theme/assets/img/library-covers/movies.webp);
    --urlTvshowsCover: url(https://raw.githubusercontent.com/lscambo13/ElegantFin/refs/heads/main/Theme/assets/img/library-covers/tvshows.webp);
    --urlLivetvCover: url(https://raw.githubusercontent.com/lscambo13/ElegantFin/refs/heads/main/Theme/assets/img/library-covers/livetv.webp);
    --urlPlaylistsCover: url(https://raw.githubusercontent.com/lscambo13/ElegantFin/refs/heads/main/Theme/assets/img/library-covers/playlists.webp);
    --urlBoxsetsCover: url(https://raw.githubusercontent.com/lscambo13/ElegantFin/refs/heads/main/Theme/assets/img/library-covers/boxsets.webp);
    --urlMusicCover: url(https://raw.githubusercontent.com/lscambo13/ElegantFin/refs/heads/main/Theme/assets/img/library-covers/music.webp);
    --urlHomevideosCover: url(https://raw.githubusercontent.com/lscambo13/ElegantFin/refs/heads/main/Theme/assets/img/library-covers/homevideos.webp);
    --urlBooksCover: url(https://raw.githubusercontent.com/lscambo13/ElegantFin/refs/heads/main/Theme/assets/img/library-covers/books.webp);
    --urlFoldersCover: url(https://raw.githubusercontent.com/lscambo13/ElegantFin/refs/heads/main/Theme/assets/img/library-covers/folders.webp);
}

.card-withuserdata[data-isfolder="true"]:not([data-type="PhotoAlbum"],[data-type="Series"],[data-type="Folder"]) .cardImageIcon.material-icons:not(.quiz)::before{
    display: none;
} 

/* These show up when no image is set */

/* div[data-collectiontype="movies"] .cardImageContainer.defaultCardBackground {
    background: var(--colorOverlayMoviesCover) !important;
    background-image: var(--urlMoviesCover) !important;
}

div[data-collectiontype="tvshows"] .cardImageContainer.defaultCardBackground {
    background: var(--colorOverlayTvshowsCover) !important;
    background-image: var(--urlTvshowsCover) !important;
}

div[data-collectiontype="livetv"] .cardImageContainer.defaultCardBackground {
    background: var(--colorOverlayLivetvCover) !important;
    background-image: var(--urlLivetvCover) !important;
}

div[data-collectiontype="music"] .cardImageContainer.defaultCardBackground {
    background: var(--colorOverlayMusicCover) !important;
    background-image: var(--urlMusicCover) !important;
}

div[data-collectiontype="homevideos"] .cardImageContainer.defaultCardBackground {
    background: var(--colorOverlayHomevideosCover) !important;
    background-image: var(--urlHomevideosCover) !important;
}

div[data-collectiontype="books"] .cardImageContainer.defaultCardBackground {
    background: var(--colorOverlayBooksCover) !important;
    background-image: var(--urlBooksCover) !important;
}

div[data-collectiontype="boxsets"] .cardImageContainer.defaultCardBackground {
    background: var(--colorOverlayBoxsetsCover) !important;
    background-image: var(--urlBoxsetsCover) !important;
}

div[data-collectiontype="folders"] .cardImageContainer.defaultCardBackground {
    background: var(--colorOverlayFoldersCover) !important;
    background-image: var(--urlFoldersCover) !important;
}

div[data-collectiontype="playlists"] .cardImageContainer.defaultCardBackground {
    background: var(--colorOverlayPlaylistsCover) !important;
    background-image: var(--urlPlaylistsCover) !important;
} */

/* These are the front facing images */

div[data-collectiontype="movies"] .cardImageContainer.cardContent {
    background: var(--colorOverlayMoviesCover) !important;
    background-image: var(--urlMoviesCover) !important;
}

div[data-collectiontype="tvshows"] .cardImageContainer.cardContent {
    background: var(--colorOverlayTvshowsCover) !important;
    background-image: var(--urlTvshowsCover) !important;
}

div[data-collectiontype="livetv"] .cardImageContainer.cardContent {
    background: var(--colorOverlayLivetvCover) !important;
    background-image: var(--urlLivetvCover) !important;
}

div[data-collectiontype="music"] .cardImageContainer.cardContent {
    background: var(--colorOverlayMusicCover) !important;
    background-image: var(--urlMusicCover) !important;
}

div[data-collectiontype="homevideos"] .cardImageContainer.cardContent {
    background: var(--colorOverlayHomevideosCover) !important;
    background-image: var(--urlHomevideosCover) !important;
}

div[data-collectiontype="books"] .cardImageContainer.cardContent {
    background: var(--colorOverlayBooksCover) !important;
    background-image: var(--urlBooksCover) !important;
}

div[data-collectiontype="boxsets"] .cardImageContainer.cardContent {
    background: var(--colorOverlayBoxsetsCover) !important;
    background-image: var(--urlBoxsetsCover) !important;
}

div[data-collectiontype="folders"] .cardImageContainer.cardContent {
    background: var(--colorOverlayFoldersCover) !important;
    background-image: var(--urlFoldersCover) !important;
}

div[data-collectiontype="playlists"] .cardImageContainer.cardContent {
    background: var(--colorOverlayPlaylistsCover) !important;
    background-image: var(--urlPlaylistsCover) !important;
}

.card-withuserdata[data-isfolder="true"] .cardImageContainer.cardContent {
    filter: contrast(0.85);
    background-size: cover !important;
    background-position: 50% !important;
    background-blend-mode: multiply;
}

div[data-collectiontype="movies"] .cardImageContainer.cardContent::before {
    content: "Movies";
}

div[data-collectiontype="tvshows"] .cardImageContainer.cardContent::before {
    content: "TV Shows";
}

div[data-collectiontype="livetv"] .cardImageContainer.cardContent::before {
    content: "Live TV";
}

div[data-collectiontype="music"] .cardImageContainer.cardContent::before {
    content: "Music";
}

div[data-collectiontype="homevideos"] .cardImageContainer.cardContent::before {
    content: "Home Videos";
}

div[data-collectiontype="books"] .cardImageContainer.cardContent::before {
    content: "Books";
}

div[data-collectiontype="boxsets"] .cardImageContainer.cardContent::before {
    content: "Collections";
}

div[data-collectiontype="folders"] .cardImageContainer.cardContent::before {
    content: "Folders";
}

div[data-collectiontype="playlists"] .cardImageContainer.cardContent::before {
    content: "Playlists";
}

.card-withuserdata[data-isfolder="true"] .cardImageContainer.cardContent {
    filter: contrast(0.85);
    background-size: cover !important;
    background-position: 50% !important;
    background-blend-mode: multiply;
}